<div class="py-5 text-center">
    <h1>Welcome to VidParty!</h1>
    <p class="lead">Watch videos together in sync.</p>
</div>
<div class="row justify-content-md-center">
    <form action="/" method="POST" id="joinForm" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
                <div class="invalid-feedback">
                    Username is required.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="room">Room Name</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>
                <input type="text" class="form-control" id="room" name="room" placeholder="Room Name" required />
                <div class="invalid-feedback">
                    Room Name is required.
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block" id="joinBtn" type="submit">Create / Join</button>
    </form>
</div>

<script>
    // Query DOM
    var form = document.getElementById('joinForm')
    var room = document.getElementById('room')
    var username = document.getElementById('username')

    // Handle events
    username.addEventListener('input', (event) => {
        username.setCustomValidity('');
        username.nextElementSibling.innerText = 'Username is required.';
    })
    form.addEventListener('submit', (event) => {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    }, false);

    // Check URL search params
    var urlParams = new URLSearchParams(window.location.search);
    const roomValue = <%- (room) ? JSON.stringify(room) : 'null' %>
    const usernameValue =  <%- (username) ? JSON.stringify(username) : 'null' %>
    if(roomValue) {
        room.value = roomValue
    }
    if(usernameValue) {
        username.value = usernameValue
    }
    if(<%= duplicateUsername %>) {
        let error = 'Username already exists.';
        username.setCustomValidity(error);
        username.nextElementSibling.innerText = error;
    }

    if(room.value && username.value) {
        document.getElementById("joinBtn").click();
    }
</script>